<h1>Tweets#show</h1>
<p>Find me in app/views/tweets/show.html.erb</p>

<p><span>email: </span><%= @user.email %></p>
<p><span>ツイート内容: </span><%= @tweet.body %></p>

<% if current_user != @tweet.user %>
        <% if @tweet.user.followed_by?(current_user) %>
            <p><%=link_to "フォロー解除", user_relationships_path(@tweet.user.id), method: :delete %></p>
        <% else %>
            <p><%=link_to "フォローする", user_relationships_path(@tweet.user.id), method: :post %></p>
        <% end %>
<% end %>
